{% extends 'base.html.twig' %} {% block title %}Restaurant {% endblock %} {%
block header %}{% endblock %} {% block body %}
<body>
  <div class="services">
    <div class="col-lg-8 col-12 mx-auto">
      <div class="image-container">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center w-50 mx-auto my-2">
          {{ message }}
        </div>
        {% endfor %}
        <h2 id="services" class="text-center">Nous sommes a votre écoute</h2>
        <div class="form-container">
          {{ form_start(contactForm) }}

          {{ form_row(contactForm.prenom, {
                'label': 'Prenom',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          {{ form_row(contactForm.nom, {
                'label': 'Nom',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          {{ form_row(contactForm.email, {
                'label': 'E-Mail',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          {{ form_row(contactForm.sujet, {
                'label': 'Sujet',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          {{ form_row(contactForm.categorie, {
                'label': 'Categorie',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          {{ form_row(contactForm.message, {
                'label': 'Message',
                'label_attr': {
                    'class': 'text-dark',
                    'style': 'text-align: left;'



          }}) }}

          <button type="submit" class="button col-12 text-black">
            Envoyer
          </button>

          {{ form_end(contactForm) }}
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
